#buttons {
	display: flex;
	justify-content: center;
	margin-top: 14px;
}

#transportControls {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.button {
	cursor: pointer;
	font-size: 32px;
	border-radius: 50%;
	padding: 6px;
	transition: background-color .15s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.button:hover {
	background-color: rgba(127, 127, 127, 0.15);
}

.buttonActive {
	color: #6366F1;
}

.buttonActive:hover {
	background-color: rgba(99, 102, 241, 0.15);
}

.buttonNoClick {
	cursor: default;
	font-size: 32px;
	padding: 6px;
	opacity: .2;
}

#pause-play {
	font-size: 40px;
}

@media (max-width: 1200px) {
	.button, .buttonNoClick {
		font-size: 40px;
	}

	#pause-play {
		font-size: 48px;
	}
}
