#moveImg {
	max-width: 100%;
	max-height: 14.5em;
}

#moveImg-loading {
	width: 100%;
	max-height: 14.5em;
}

#share {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
	font-size: 20px;
	opacity: .75;
}

#share:hover {
	opacity: 1;
}

#player {
	width: 80%;
	margin-left: 10%;
	position: relative;
}